@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #8b5cf6;
  --primary-dark: #7c3aed;
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}